body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 宋体;
  background-color: #fff;
}
input {
  outline: none;
  border: none;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.home-page {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  .header-home {
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    padding: 3vw;
    justify-content: space-between;
    background-color: #fea201;
    .head-message {
      display: -webkit-flex; /* Safari */
      display: flex;
      align-items: center;
      .head-portrait {
        display: inline-block;
        width: 20vw;
        height: 20vw;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .sale-name {
        font-size: 2rem;
        margin-left: 3vw;
        font-weight: 600;
        color: #fff;
      }
    }
    .exit {

      border-radius: 1vw;
      padding: 1vw 3vw;
      font-size: 1.2rem;
      color: #333;
      background-color: #fff;
      font-weight: 600;
    }
  }
  .performance {
    text-align: center;
    padding: 10vw;
    font-weight: 600;
    color: #000;
    background-color: #f9f9f7;
    p {
      font-size: 1.6rem;
      margin-bottom: 3vw;
    }
    span {
      font-size: 2rem;
      font-style: normal;
    }
  }
  .main{
    margin-top: 5vw;
    padding: 10vw 3vw;
    .items{
      display: -webkit-flex; /* Safari */
      display: flex;
      justify-content:space-between;
      .item{
        display: -webkit-flex; /* Safari */
        display: flex;
        align-items: center;
        width: 41vw;
        padding: 4vw 0 4vw 4vw;
        i{
          display: inline-block;
          width: 15vw;
          height: 15vw;
          margin-right: 1vw;
        }
        span{
          font-size: 1.6rem;
          color: #fff;
        }
      }
    }
  }
  footer{
   // margin: 30vw 0 10vw 0;
    width: 100%;
    margin-bottom: 10vw;
    text-align: center;
    .footer-logo{
      display: inline-block;
     width: 30vw;
      height: 15vw;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
/*业绩查询*/
.performance-search{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  .head-performance{
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fea201;
    padding:6vw 3vw 3vw 3vw;
    .return{
      display: inline-block;
      width: 7vw;
      height: 7vw;
      img{
        width: 100%;
        height: 100%;
      }
    }
    h3{
      color: #fff;
      font-size: 2rem;
    }
    em{
      display: inline-block;
      width: 5vw;
      height: 5vw;
    }
  }
  main{
    flex: 1;
    margin-bottom: 20vw;
    article{
      margin: 5vw 0;
      padding: 4vw;
      background-color: #f9f9f7;
      .order-head{
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
          font-weight: 600;
          font-size: 1.8rem;
        }
        .order-page{
          display: inline-block;
          width: 5vw;
          height: 3.8vw;
          img{
            width: 100%;
            height: 100%;
          }
        }

      }
      hr{
        margin-top: 4vw;
        color: #333;
      }
      .order-introduce{
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        padding-top: 3vw;
        span{
          font-weight: 600;
          font-size: 1.2rem;
          em{
            font-style: normal;
          }
        }
      }
    }
  }
  footer{
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 200;
    .logo{
      display: inline-block;
      margin: 5vw calc(50vw - 15vw);
      width: 30vw;
      height: 15vw;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
//清单
.list-form{
  .list-head{
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fea201;
    padding:6vw 3vw 3vw 3vw;
    .return{
      display: inline-block;
      width: 7vw;
      height: 7vw;
      img{
        width: 100%;
        height: 100%;
      }
    }
    h3{
      color: #fff;
      font-size: 2rem;
    }
    em{
      display: inline-block;
      width: 5vw;
      height: 5vw;
    }
  }
  .list-main{
    margin-top: 5vw;
    padding: 4vw;
    background-color: #f9f9f7;
    .list-detail{
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      font-size: 1.6rem;
      font-weight: 600;
    }
    .list-message{
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 1.2rem;
      li{
        padding: 1.5vw 0;
      }
      .pay-time{
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
      }
    }
    .list-product{
      margin-top: 10vw;
      b{
        display: block;
        width: 30vw;
        text-align: center;
        margin: -4vw auto 0 auto;
        background-color: #f9f9f7;
        font-size: 2rem;
      }
      hr{
        width: 80vw;
        margin: 0 auto;
      }
      .product-module{
        margin-top: 5vw;
        .module-ico{
          display: inline-block;
          vertical-align: middle;
          width: 10vw;
          height: 5vw;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .module-name{
          display: inline-block;
          vertical-align: middle;
          font-size: 1.5rem;
        }
        .product-detail{
          padding: 2vw 0;
          border-bottom: 1px dashed #333;
          .product-img{
            display: inline-block;
            width: 45vw;
            height: 28vw;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .product-message{
            display: inline-block;
            width: 45vw;
            vertical-align: top;
            p{
              padding-bottom:1vw;
            }
          }
        }
      }
    }
  }
}
//遮罩层
.all-cover{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #333;
  opacity: 0.6;
  z-index: 200;
}
.alert{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 60vw;
  height: 40vw;
  margin: auto;
  background-color: #fff;
  z-index: 500;
}