.home-page{
  .performance-search{
    background: url("../images/saleitems.png") no-repeat;
    background-position: 0 0;
    background-size: 110%;
  }
  .order-client{
    background: url("../images/saleitems.png") no-repeat;
    background-position: 0 100%;
    background-size: 102%;
  }
}
//预约客户
.sale-order{
  .head-order{
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fea201;
    padding:6vw 3vw 3vw 3vw;
    .return{
      display: inline-block;
      width: 7vw;
      height: 7vw;
      img{
        width: 100%;
        height: 100%;
      }
    }
    h3{
      color: #fff;
      font-size: 3rem;
    }
    em{
      display: inline-block;
      width: 5vw;
      height: 5vw;
    }
  }
}