<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约客户</title>
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0,maximum-scale=1.0"/>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/sale.css">
    <script src="../vendor/vue.js"></script>
    <script src="../vendor/zepto.js"></script>
    <script src="../vendor/zepto-touch.js"></script>
</head>
<body id="saleOrder">
<div class="sale-order">
    <header class="head-order">
        <i class="return" @click="backPage"><img src="../images/return.png" alt="return"></i>
        <h3>预约客户</h3>
        <em></em>
    </header>
    <main>
        <ul class="clients">
            <!--一个客户-->
            <template v-for="vm in items">
            <li class="client-detail">
                <div class="client-head">
                    <span>{{vm.user_name}}</span>
                    <i v-if="vm.is_top=='1'" class="cares-for" @click="orders(vm.user_id)"></i>
                    <i v-else class="care-for" @click="orders(vm.user_id)"></i>
                </div>
                <ul class="client-message">
                    <li class="client-phone">
                        <span>联系方式：<em>{{vm.mobile_phone}}</em></span>
                        <i class="visit-client" @click="clientMessage(vm.user_id)"></i>
                    </li>
                    <li class="order-time">
                        <span>预约时间：<em>{{vm.reg_time}}</em></span>
                    </li>
                    <li class="client-remark">
                        <b class="remark-message">备注：<em>{{vm.remarks}}</em></b>
                    </li>
                </ul>
            </li>
            </template>

        </ul>
    </main>
    <footer>
        <i class="logo"><img src="../images/logo.png" alt="logo"></i>
    </footer>
</div>
<script src="../js/public.js"></script>
<script src="../js/saleorder.js"></script>
</body>
</html>